body { padding-top: 70px; }

.brand {
  text-align: left;
}


.box {
  background-color: lightgrey;
  margin : 10px;
  padding: 20px;
}

.box-title {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 5px;
}


a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.credentials {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
