<div class="container">
  <h1 ng-controller="RegistrationController as reg">Please sign-up here for our newsletter !</h1>

    <fieldset>
      <legend>Registration</legend>
      <form name='regForm' class="registrationForm" novalidate>

      <input type="text" name="firstname" placeholder="Your first name here"
        ng-model="reg.user.firstname"
        required
        minlength="2"
        ng-maxlength="20">
        <span
          ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
          Firstname must be at least 2 characters long
        </span>
        <span ng-if="regForm.firstname.$error.maxlength && regForm.fistname.$touched">
          Fistname must not be longer than 20 characters
        </span>
        <br>
        <br>

        <input type="text" name="lastname" placeholder="Your last name here"
        ng-model="reg.user.lastname"
        required
        minlength="2"
        ng-maxlength="20">
        <span
          ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
          lastname must be at least 2 characters long
        </span>
        <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
          lastname must not be longer than 20 characters
        </span>
        <br>
        <br>
        <input type="text" name="email" placeholder="Your email here"ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>
        <br>
        <input type="text" name="phone" placeholder="Phone ###-###-####"
        ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
        <br>


        <input type="text" name="favoritedish" placeholder="Your favorite dish e.g, SO1"
        ng-model="reg.user.favoritedish"
        required>
        <span
          ng-if="(regForm.favoritedish.$error.required) && regForm.favoritedish.$touched">
          Favorite Dish must be at a short name item of the menu
        </span>
        <br>

        <button
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>

          <div style="margin-top: 10px;">
            {{reg.message}}
          <!--  Form valid? {{ regForm.$valid }} -->
          </div>
      </form>
    </fieldset>


</div>
