<div ng-if="!(list.foundItems.length>0)">
  Nothing found
</div>

<div ng-if="(list.foundItems.length>0)">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Short Name</th>
        <th>Item description</th>
        <th>Remove from short list</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in list.foundItems">
        <td>{{ item.name }}</td>
        <td>{{ item.short_name }}</td>
        <td>{{ item.description }}</td>
        <td><button ng-click="list.removeItem($index);">Don't want this one!</button></td>
      </tr>
    </tbody>
  </table>
<div>
