<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Narrow Down Your Menu Choice</title>
  </head>
  <body ng-controller='NarrowItDownController as list'>

    <div class="container" >
       <h1>Narrow Down Your Chinese Menu Choice</h1>

       <div class="form-group">
         <input type="text" placeholder="search term" class="form-control" ng-model="list.searchTerm">
       </div>
       <div class="form-group narrow-button">
         <button class="btn btn-primary" ng-click='list.getMatchMenuItems(list.searchTerm);'>Narrow It Down For Me!</button>
       </div>
     </div>

     <div class="container">

       <table class="results">
         <!-- found-items should be implemented as a component -->
         <found-items my-list="list" > </found-items>
       </table>
    </div>
  </body>
</html>
